Repository claytono/go-unifi-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-flake-build, golangci-lint, go-test-coverage

nix-flake-build:
  name: nix-flake-build
  entry: bash -c 'nix build --no-link'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash -c 'export GOPATH="$(pwd)/.go" GOMODCACHE="$(pwd)/.go/pkg/mod" GOCACHE="$(pwd)/.go/cache" && nix develop --command golangci-lint run --fix ./...'
  language: system
  pass_filenames: false

go-test-coverage:
  name: go-test-coverage
  entry: bash -c 'export GOPATH="$(pwd)/.go" GOMODCACHE="$(pwd)/.go/pkg/mod" GOCACHE="$(pwd)/.go/cache" && nix develop --command bash -c "go test -coverprofile=coverage.out ./... && go-test-coverage --config .testcoverage.yaml"'
  language: system
  pass_filenames: false

Add changelog-driven release notes with kacl validation
  .github/renovate.json
  .github/workflows/release.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  flake.nix
  scripts/renovate-update-flake-hashes
Due: nix-flake-build

Fix release notes: remove changelog.disable that blocked --release-notes
  .goreleaser.yml
Due: none

Update mcp-cli examples for v0.3.0 subcommand syntax
  README.md
Due: none

Fix Renovate Go version tracking in flake.nix
  .github/renovate.json
Due: none

Fix Renovate Go version tracking in flake.nix (#37)
  .github/renovate.json
Due: none

Add Homebrew install instructions to README
  README.md
Due: none

Add Homebrew install instructions to README (#38)
  README.md
Due: none

Add --help and --version flags
  cmd/go-unifi-mcp/main.go
  cmd/go-unifi-mcp/main_test.go
Due: golangci-lint, go-test-coverage

Add --help and --version flags (#39)
  cmd/go-unifi-mcp/main.go
  cmd/go-unifi-mcp/main_test.go
Due: golangci-lint, go-test-coverage

Replace custom hash script with determinate-nixd fix-hashes
  .github/workflows/renovate-flake-hash-fix.yaml
  flake.nix
  scripts/fix-cross-platform-hashes
  scripts/renovate-update-flake-hashes
Due: nix-flake-build

Publish to MCP Registry on release
  .github/workflows/release.yml
  .goreleaser.yml
  flake.nix
  server.json
Due: nix-flake-build

Publish to MCP Registry on release (#41)
  .github/workflows/release.yml
  .goreleaser.yml
  flake.nix
  server.json
Due: nix-flake-build

Release v0.1.1
  CHANGELOG.md
Due: none

Release v0.1.1 (#42)
  CHANGELOG.md
Due: none

Fix server.json schema version and field names
  server.json
Due: none

Release v0.1.2
  CHANGELOG.md
Due: none

Fix OCI package identifier in server.json
  server.json
Due: none

Fix OCI package identifier in server.json (#45)
  server.json
Due: none

Fix OCI package format in server.json
  .github/workflows/release.yml
  server.json
Due: none

Fix OCI package format in server.json (#46)
  .github/workflows/release.yml
  server.json
Due: none

Fix OCI image tag in MCP registry publish
  .github/workflows/release.yml
Due: none

Add Smithery and Glama registry config files
  glama.json
  smithery.yaml
Due: none

Pin GitHub Actions to SHA digests via Renovate
  .github/renovate.json
Due: none

Pin GitHub Actions to SHA digests via Renovate (#49)
  .github/renovate.json
Due: none

Add configurable log level via UNIFI_LOG_LEVEL
  README.md
  cmd/go-unifi-mcp/main.go
  cmd/go-unifi-mcp/main_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/server/server.go
  internal/server/server_test.go
Due: golangci-lint, go-test-coverage

Add opt-in ID reference resolution for tool responses
  README.md
  cmd/go-unifi-mcp/main.go
  flake.nix
  go.mod
  go.sum
  internal/mcpgen/templates/metadata.go.tmpl
  internal/meta/batch.go
  internal/meta/execute.go
  internal/meta/meta.go
  internal/meta/meta_test.go
  internal/resolve/index.go
  internal/resolve/logger.go
  internal/resolve/resolve.go
  internal/resolve/resolve_test.go
  internal/resolve/wrapper.go
  internal/server/server.go
  internal/tools/generated/generic_handlers.go
  internal/tools/generated/metadata.gen.go
  internal/tools/registry/registry.go
  internal/tools/registry/registry_test.go
Due: nix-flake-build, golangci-lint, go-test-coverage

Release prep for v0.2.0
  CHANGELOG.md
  CLAUDE.md
  README.md
  RELEASE.md
Due: none

Update nixpkgs and Go to 1.26
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  go.mod
  go.sum
  internal/mcpgen/generator.go
Due: nix-flake-build, golangci-lint, go-test-coverage

Add Renovate eval workflow
  .claude/renovate-eval.md
  .github/renovate.json
  .github/workflows/renovate-eval.yaml
Due: none

Prevent cached flake hash mismatches
  .github/workflows/renovate-flake-hash-fix.yaml
  .gitignore
  Taskfile.yml
  flake.nix
  scripts/fix-cross-platform-hashes
  tests/test_fix_cross_platform_hashes.py
Due: nix-flake-build

Allow manual flake hash repair tests
  .github/workflows/renovate-flake-hash-fix.yaml
  .gitignore
  Taskfile.yml
  scripts/fix-cross-platform-hashes
  tests/test_fix_cross_platform_hashes.py
Due: none

Prevent cached flake hash mismatches (#124)
  .github/workflows/renovate-flake-hash-fix.yaml
  flake.nix
  scripts/fix-cross-platform-hashes
Due: nix-flake-build

Allow explicitly requested PR merges
  CLAUDE.md
Due: none

Update go-unifi to v1.11.2
  .go-unifi-version
  Taskfile.yml
  flake.nix
  go.mod
  go.sum
  internal/gounifi/api.go.tmpl
  internal/gounifi/apiv2.go.tmpl
  internal/gounifi/clients.go
  internal/gounifi/customizations.yml
  internal/gounifi/customize.go
  internal/gounifi/generator.go
  internal/gounifi/resources.go
  internal/gounifi/utils.go
  internal/gounifi/v2/ContentFiltering.json
  internal/gounifi/v2/FirewallZonePolicy.json
  internal/gounifi/validation.go
  internal/mcpgen/generator.go
  internal/mcpgen/resource.go
  internal/mcpgen/resource_test.go
  internal/resolve/resolve.go
  internal/server/integration_test.go
  internal/server/mocks/doc.go
  internal/server/mocks/unifi_client_mock.go
  internal/tools/generated/handlers.gen.go
  internal/tools/generated/metadata.gen.go
  internal/tools/generated/types.gen.go
Due: nix-flake-build, golangci-lint, go-test-coverage

Prepare v0.3.0 release
  CHANGELOG.md
  README.md
Due: none

Path conditions:
  nix-flake-build: any of: ^(flake\.nix|flake\.lock|go\.mod|go\.sum)$, but not: ^internal/gounifi/
  golangci-lint: any of: \.go$, but not: ^internal/gounifi/
  go-test-coverage: any of: \.go$, but not: ^internal/gounifi/
